{% extends "layout-admin.njk" %}

{% block head %}
    <title>Foodfy Admin - Editar: {{chef.name}}</title>
    <link rel="stylesheet" href="/styles-admin-form.css">
{% endblock %}

{% block content %}

    <div class="content">
        
        
        

        <div class="form-head">

            <div>Editando Chef</div>

            <div class="button">
                <span>
                    <button type="submit" form="form-delete">Deletar</button>
                </span>
                <span>
                    <button type="submit" form="form">Salvar Chef</button>
                </span>
            </div>
        
        </div>


        <form id="form" method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">

            <section class="details">

   
                {% include "admin/chefs/fields.njk" %}
            

                <input type="hidden" name="id" value="{{chef.id}}">
                <input type="hidden" name="file_id" value="{{chef.file_id}}">
                

            </section>

        </form>

 
        
        <form id="form-delete" action="/admin/chefs?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{chef.id}}">
                <input type="hidden" name="file_id" value="{{chef.file_id}}">
                <input id="recipes" type="hidden" name="recipes" value="{{chef.recipes}}">
                
        </form>

        

    </div>


    


    <script src="/scripts/scripts-admin-delete-chef.js"></script>
    
    
    
{% endblock %}