

<div class="item">

    <div>Nome da Chef</div>

    <div>
    <input 
        {% if error and name%}
            class="input-error"
        {% endif %}
        type="text" name="name" value="{{chef.name}}"/>
    </div>

</div>


<div class="item">

    <div>Imagem do Chef</div>

    <div id="photo-upload">
        <input 
            id="photo-input"
            type="file" 
            name="photo" 
            accept="image/*"      
        >

        <p>Enviar Avatar</p>
    </div>

</div>


