<div class="item-group">



<div class="item user">

    <div>Nome do usuário</div>

    <div>
    <input
        {% if error and name%}
            class="input-error"
        {% endif %} 
        type="text" name="name" value="{{user.name}}"/>
    </div>

</div>



    
   



<div class="item user">

    <div>Email do usuário</div>

    <div>
    <input
        {% if error and email%}
            class="input-error"
        {% endif %} 
        type="email" name="email" value="{{user.email}}"/>
    </div>

</div>
</div>


 
<div class="item admin">

    <div>Admin:</div>


    <div>
    <input 
           type="checkbox" 
           name="is_admin"
           value="1" 
           {% if user.is_admin %}
            checked
           {% endif %}
           >
           
    </div>

</div>


{% if  user.id %}

    <input type="hidden" name="id" value="{{user.id}}" required/>

{% endif %}

    