<!DOCTYPE html>


<head>
    {% block head %}{% endblock %}

</head>

<body>

    <div class="body">


        <header>

            <div class="menu">


                <div class="logo">

                    <a href="/"> 

                        <img src="/assets/logo2.png" alt="Foodfy">

                    </a>

                
                
                </div>
                

                <div class="menu2"> <a href="/admin">Admin</a> </div>    

                
            </div>

        </header>

        {% block content %}{% endblock %}
        




    </div>

    
</body>


</html>