{% extends "layout-admin.njk" %}

{% block head %}
    <title>Foodfy Admin - Gerenciar Receitas</title>
    <link rel="stylesheet" href="/styles-admin.css">

{% endblock %}


{% block content %}

        <div id="title">
            <div>
               Gerenciar receitas
            </div>

            <div class="button">

                <a href="/admin/recipes/create">Nova receita</a>

            </div>
            
        </div>

        <div class="recipes-grid">

            {% for recipe in recipes %}
 

            <div class="recipe" >

                <div class="recipe-image">

                    <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                
                </div>
                
                <div class="info">

                    <div class="name">{{recipe.name}}</div>

                    <div class="author">{{recipe.chef}}</div>

                    <div class="visualize"><a href="/admin/recipes/{{recipe.id}}">Visualizar</a></div>
                
                </div>

            </div>

            {% endfor %}

        </div>

        <script src="/scripts/scripts-admin.js"></script>

{% endblock %}