@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    

}

html, body {
    height:100%;
}


.body {
    min-height:100%;
    position:relative;
    font-family: 'Roboto', sans-serif;
}

/* -------------menu--------------- */


header .menu{
    
    margin: 32px auto;
    width: 940px;

    display: grid;
    grid-template-columns: 90.6px 1fr ;
    position: relative;

}

.menu .logo
{

    
    padding-top: 12px;

}



header .menu2{

    padding: 0 4px 4px 122.4px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    align-content: center;
}

.menu2 .links{

    padding-top: 12px;

}

.menu2 .filter{


    padding-top: 4px;

    text-align: right;

}

.menu2 .filter.inactive{
    opacity: 0;
    visibility: hidden;
}

.menu2 .active{

    font-weight: bold;

}

header .menu a{

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding-right: 30px;
}


.menu2 .filter input{

    margin-right: 8px;
    padding: 9px;
    padding-right: 48px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    border-radius: 4px;
    


}

.menu2 .filter input::placeholder{

    color: #dddddd;
    

}

.menu2 .filter button{

    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgba(101,88,195,1);
    border-radius: 4px;
}
/* -------------presentantion--------------- */

.presentation{

    width: 940px;
    margin: 0 auto;
    margin-bottom: 50px;

}

.presentation .title{

    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

}

.presentation p{

    margin: 20px 0 20px 0;
    font-size: 18px;
    line-height: 28px;


}








/*----------footer------*/


    
.footer {
    
    height: 62px;
    text-align: center;
    background-color: rgba(238,238,238,1);

}


.footer p{

    margin:auto;
    padding-top: 20px;
    color: rgba(119,119,119,1);
    font-size: 14px;

}