

/*-----------users grid--------------*/

html{

    overflow-y: scroll;

    
}

.users-tile{
    width: 940px;
    margin: 50px auto;
    margin-bottom: 20px ;
    text-align: left;
    font-size: 28px;
    font-weight: bold;


}

.users-section{

    margin: 50px auto;
    width: 940px;
    display: grid;
    
    grid-template-columns: 1fr;
}

.users-section .search-for{

    
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;

}

.users-grid{

    margin: 50px auto;
    width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
    margin-bottom: 50px;


}
/*

.user-box-box{

    display: grid;
    grid-template-columns:200px;
    height: 64px;
    gap: 10px;
    

}
.users-grid .user-box img{

    width: 64px;
    height: 64px;
    border-radius: 50%;
    
}*/

.users-grid .info{
    
    margin-top: 10px;

}

.user-box .name{

    
    font-size: 18px;
    line-height: 22px;
    color: black;
    padding-left: 4px;
    padding-bottom: 4px;
    text-transform: capitalize;

}

.user-box .email{

    
    font-size: 14px;
    line-height: 17px;
    color: #777;
    padding-left: 4px;
    padding-bottom: 16px;

}



.info a{ 
    
    padding-left: 4px;
    padding-right: 16px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: rgba(101,88,195,1);
    
}

.info a + a{ 
    
    padding-left: 4px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: rgb(238, 54, 54);
    
}


