{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - {{recipe.title}}</title>
    
    
{% endblock %}

{% block content %}

    <div class="content">

         <div class="gallery">

            <div class="highlight-image">
                {% if not files[0] %}

                    <img src="http://placehold.it/500x200?text=PRODUTO SEM FOTO" alt="">

                {% else %}
                    
                    <img 
                        src="{{files[0].src}}" 
                        alt="{{files[0].name}}"
                        onclick="Lightbox.open()"    
                    >
                    
                {% endif %}
            </div>

            <div class="gallery-preview">

                {% for image in files %}

                    <img 
                        src="{{image.src}}" 
                        alt="{{image.name}}"
                        {% if loop.index0 == 0 %}
                            class="active"
                        {% endif %}
                        onclick="ImageGallery.setImage(event)"
                    >
                    
                {% endfor %}

            </div>   

        </div>

        

            <div class="title">

                
                {{recipe.name}}

            </div>


            <div class="author">

                por: {{recipe.chef}}.
                
            </div>

            <div class="subtitle">

                <div class="grid">
                    
                    <p class="s1">Ingredientes.</p>
                    
                    <div class="toggle">
                        <p>Esconder</p>
                    </div>
                    
                </div>        
                    
                <div class="recipe-info">
                    
                    

                    <div class="info">

                        <ul>

                            {% for ingredient in recipe.ingredients %}
                            

                            <li>{{ingredient}}</li>
                            
                            
                            {% endfor %}
                        
                        </ul>

                    </div>

                </div>
                    

                
                

            </div>

            <div class="subtitle">

                <div class="grid">

                    <p class="s1">Modo de preparo.</p>
                    
                    <div class="toggle">
                        <p>Esconder</p>
                    </div>
                </div>    
                
                <div class="recipe-info">
                    
                    

                    <div class="info">

                        <ul>
                            {% for step in recipe.preparation %}
                            
                                <li>{{step}}</li>

                            {% endfor %}   
                        </ul>
                    
                    </div>
                    
                </div>
                
                

            </div>

            <div class="subtitle">

                <div class="grid">
                    <p class="s1">Informaçoes adicionais.</p>
                    
                    <div class="toggle">
                        <p>Esconder</p>
                    </div>
                </div>

                <div class="recipe-info">

                    <div class="info">
                        <p>{{recipe.information}}</p>
                    </div>

                </div>

                

            </div>

    </div>


    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/scripts-images.js"></script>

{% endblock %}