{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles.css">
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}


        <div class="recipes-section">
            
            <div class="search-for">

                {% if filter %}
                    Buscando por "{{filter}}"
                {% endif %}

            </div>
            
            
            <div class="recipes-grid">

                

                {% for recipe in recipes %}
    

                <div class="recipe" id="{{recipe.id}}">

                        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">

                    
                    <div class="info">

                        <div class="name">{{recipe.name}}</div>

                        <div class="author">{{recipe.chef}}</div>
                    
                    </div>

                </div>
                
                {% endfor %}

            </div>

                


            <div class="pagination" 
                data-page={{pagination.page}}
                data-total={{pagination.total}}
                data-filter={{filter}}
            ></div>   

        </div>
        

        <script src="/scripts/scripts.js"></script>
            
{% endblock %}