{% extends "layout-admin.njk" %}

{% block head %}
    <title>Foodfy Admin - Editar: {{recipe.name}}</title>
    <link rel="stylesheet" href="/styles-admin-form.css">
{% endblock %}

{% block content %}

    <div class="content">
        
        
        

        <div class="form-head">

            <div>Editando Receita</div>

            <div class="button">
                <span>
                    <button type="submit" form="form-delete">Deletar</button>
                </span>
                <span>
                    <button type="submit" form="form">Salvar Receita</button>
                </span>
            </div>
        
        </div>


        <form id="form" method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">

            <section class="details">

   
                {% include "admin/recipes/fields.njk" %}
            

                <input type="hidden" name="id" value="{{recipe.id}}">


            </section>

        </form>


        
        <form id="form-delete" method="post" action="/admin/recipes?_method=DELETE" >
                <input type="hidden" name="id" value="{{recipe.id}}">
                
                
        </form>

        

    </div>


    
    <script src="/scripts/scripts-admin.js"></script>

    <script src="/scripts/scripts-admin-delete-recipe.js"></script>
    
    
    
{% endblock %}