
           <div class="item">

                <div class="photos-title">Fotos da Receita</div>
                    <div class="photos-container">

                        <div id="photos-upload">
                            <input 
                                id="photos-input"
                                type="file" 
                                name="photos"
                                multiple 
                                accept="image/*"
                                onchange="PhotosUpload.handleFileInput(event)"
                                >{#quando houver uma mudança no input#}
                                
                                {# accept="image/*"  para aceitartodo tipo de arquivo de imagem#}
                        
                            
                        
                                <p class="material-icons">add</p>

                        </div>

                        <div id="photos-preview">
                            
                            {% if files %}
                                 {% for image in files %}
                                     <div class="photo" id="{{image.id}}">
                                         <img src="{{image.src}}" alt="{{image.name}}">
                                         <i class="material-icons"
                                            onclick="PhotosUpload.removeOldPhoto(event)"
                                            >
                                             close
                                         </i>
                                     </div>
                                 {% endfor %}
                                    <input type="hidden" name="removed_files"> {#para remover as fotos#}
                            {% endif %}

                        </div>
                        
                    </div>

            </div>



<div class="item">

    <div>Nome da Receita</div>

    <div>
    <input 
        {% if error and name%}
            class="input-error"
        {% endif %} 
        type="text" name="name" value="{{recipe.name}}" />
    </div>

</div>

<div class="item">

    <div>Autor</div>

    <select name="chef">
        {% for chef in chefs %}
            <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected {% endif %}>
                {{chef.name}}
            </option>
        {% endfor %}
    </select>

</div>


<div class="item" id="ingredients">

    <div>Ingredientes</div>

    {% if (recipe.ingredients == "") or (not recipe.ingredients) %}
        
        
            <div class="ingredient">

                <input type="text" name="ingredients[]" placeholder="Adicione os ingredients" value="">
            
            </div>
    
    {% else %}

        {% for ingredient in recipe.ingredients %}

            <div class="ingredient">

                <input type="text" name="ingredients[]" placeholder="Adicione os ingredients" value="{{ingredient}}">
            
            </div>
        
        {% endfor %}

    {% endif %}

            
    

</div>

<button type="button" class="add-ingredient">Adicionar ingredientes</button>


<div class="item" id="preparations">

    <div>Modo de preparo</div>

    {% if (recipe.preparation == "") or (not recipe.preparation) %}

            <div class="preparation">
                <input type="text" name="preparation[]" placeholder="Adicione as etapas do preparo" value="">
            </div>
        

        {% else %}
        
            {% for step in recipe.preparation %}
            
                <div class="preparation">
                    <input type="text" name="preparation[]" placeholder="Adicione as etapas do preparo" value="{{step}}">
                </div>
        
            {% endfor %}
            
        {% endif %}

</div>

<button type="button" class="add-preparation">Adicionar etapa</button>

<div class="item">

    <div>Informaçoes adicionais</div>

    <div>
    <input type="text" name="information" value="{{recipe.information}}">
    </div>

</div>


<script src="/scripts/scripts-images.js"></script>
