<!DOCTYPE html>


<head>
    {% block head %}{% endblock %}

    {% include "parts/styles.njk" %}
    
</head>

<body>
    
   

    <div class="body">
    
    {% include "parts/header.njk" %}
    {% include "parts/messages.njk" %} 

    {% block content %}{% endblock %}
        

    <script src="/scripts/scripts.js"></script>


    </div>


    {% include "parts/footer.njk" %}


</body>


</html>