<!DOCTYPE html>


<head>
    {% block head %}{% endblock %}

    {% include "parts/styles-admin.njk" %}
    
</head>

<body>

    
    
    <div class="body">
        

        <header>

            <div class="menu">


                <div class="logo">

                    <a href="/"> 

                        <img src="/assets/logo2.png" alt="Foodfy">

                    </a>
                
                
                </div>
                

                <div class="menu2">
                     <a href="/admin/recipes">Receitas</a>
                     <a href="/admin/chefs">Chefs</a>
                     <a href="/admin/users">Usúarios</a>  
                </div>

                <div class="logout">

                    <form action="/logout" method="POST">

                        <button>Sair</button>
                    
                    </form>
                    
                </div>   

                
            </div>

        </header>
        
        {% include "parts/messages.njk" %}

        {% block content %}{% endblock %}
        




    </div>

    
</body>


</html>